body {
    margin: 0px;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;

}

.blue {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 10px 150px;


}

img {
    border: 0px;
    display:flex;
}

.header {
    
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    gap: 20px;
    margin: 0px;
    list-style-type: none;
    padding: 15px 0px;
    
}

.herotext {
    display:flex;
    flex-direction: column;
    font-weight: 700;
}

.herobig
{
    font-size: 48px;
    color: #F9FAF8;
}

.herosmall {
    font-size: 18px;
    color: #E5E7EB;
}

.toplinks {
    text-decoration: none;
    font-size: 24px;
}
