body {
    margin: 0px;
    font-family: 'Roboto';


}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    overflow-y: scroll;
}


.blue {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    flex: 1;
    max-height: 500px;


}

img {
    border: 0px;
    display:flex;
}

.header {
    
    display: flex;
    justify-content: space-between;

}

ul {
    display: flex;
    gap: 20px;
    margin: 0px;
    list-style-type: none;
    
}

.herotext {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    flex-wrap: wrap;
    max-width: 800px;
}

.herobig
{
    font-size: 48px;
    color: #F9FAF8;
}

.herosmall {
    font-size: 18px;
    color: #E5E7EB;
}

.toplinks {
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.bluemain {
    display: flex;
    justify-content: space-between;
    
}

.placeholder {
    display:flex;
    background-color: gray;
    height: 300px;
    width: 550px;
    justify-content: center;
    border-style: solid;
    border-color: #0e1116;
    border-width: 5px;
    border-radius: 15px;

    align-items: center;
}

.topbutton {
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 15px;
    border: 0px;
    border-radius: 15px;
    margin-top: 20px
}

.topwhite {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 1;
}

.allboxes {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 50px 400px;

}

.boxitem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxsubtext {
    max-width: 150px;
    flex-wrap: wrap;
    text-align: center;
}

.box {
    border-style: solid;
    border-color: #1F2937;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.gray {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 20px;
}

.yap {
    max-width: 900px;
    font-size: 36px; 
    color: #1F2937;
    font-weight: 300; 
    font-style: italic;
    align-self: center;
    margin: 10px;
    margin-bottom: 0px;
}

.yapper{
    max-width: 1000px;
    display:flex;
    font-size: 36px;
    font-weight: 900;
    margin-right: 150px;
    margin-top: 0px;
    align-self:flex-end;

}

.bottomwhite {
    padding: 100px 150px;
}

.hiring {
    display:flex;
    background-color: #3882F6;
    border-radius: 10px;
    text-align: center;
    padding: 30px 150px;
    justify-content: space-between;
}

.hiringtextblock {
    flex-wrap: wrap;
    max-width: 600px;
}

.hiringheader {
    padding: 0px;
    margin: 0px;
    color: white;
    font-size: 29px;
    text-align: left;
    font-weight: 700;
}

.hiringtext {
    color: white;
    margin: 0px;
    font-size: 16px;
    text-align: left;
}

.bottombutton {
    background-color: #3882F6;
    border-style: solid;
    border-color: white;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 50px;
    align-self: center;
}

.footer {
    background-color: #1F2937;
    padding: 20px;
}